.fashon-body {
  font-family: "Playfair"; }

.fas-logo {
  display: flex;
  flex-direction: column; }
  .fas-logo__name {
    font-size: 3em; }
  .fas-logo__sub-name {
    font-style: italic;
    font-size: 0.8em; }

.fas-header {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 20px 0; }
  .fas-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    height: 100%; }
  .fas-header__logo {
    color: #fff; }
  .fas-header__list {
    display: flex; }
  .fas-header__item {
    margin-left: 30px; }
  .fas-header__link {
    color: #fff; }
    .fas-header__link:hover {
      color: #e52e71; }

.fas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 2000px; }

.fas-section-intro__image-container {
  width: 100%;
  height: 100vh; }

.fas-section-intro__image {
  width: 100%;
  height: 100%;
  object-fit: cover; }
