@charset "UTF-8";
main {
  display: block; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  text-decoration: none; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  /* 3 */
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html,
body {
  height: 100%; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal; }

button {
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Ow";
  src: url(../fonts/Oswald-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Ow-el";
  src: url(../fonts/Oswald-ExtraLight.ttf);
  font-display: block; }

@font-face {
  font-family: "Ow-b";
  src: url(../fonts/Oswald-SemiBold.ttf);
  font-display: block; }

@font-face {
  font-family: "Shoul";
  src: url(../fonts/Big_Shoulders_Stencil_Text/BigShouldersStencilText-Bold.ttf);
  font-display: block; }

@font-face {
  font-family: "Marcellus-Regular";
  src: url(../fonts/Marcellus-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-display: block; }

@font-face {
  font-family: "RougeScript";
  src: url(../fonts/Roge/RougeScript-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Lato-B";
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-display: block; }

@font-face {
  font-family: "Amiri";
  src: url(../fonts/Amiri/Amiri-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Playfair";
  src: url(../fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf);
  font-display: block; }

@font-face {
  font-family: "Rambla";
  src: url(../fonts/Rambla/Rambla-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Monoton";
  src: url(../fonts/Monoton/Monoton-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Archivo";
  src: url(../fonts/Archivo/ArchivoBlack-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Monda";
  src: url(../fonts/Monda/Monda-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "RobotoC";
  src: url(../fonts/Roboto/RobotoCondensed-Regular.ttf);
  font-display: block; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.logo {
  font-family: "Shoul";
  font-size: 2em;
  color: #000; }

.button-gam {
  z-index: 6;
  position: fixed;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }
  .button-gam__line {
    width: 100%;
    height: 0.1em;
    background: #fff;
    -webkit-transition: 0.3s background ease, 0.3s -webkit-transform ease;
    transition: 0.3s background ease, 0.3s -webkit-transform ease;
    transition: 0.3s transform ease, 0.3s background ease;
    transition: 0.3s transform ease, 0.3s background ease, 0.3s -webkit-transform ease; }

.button-gam__transform .button-gam__line {
  background: #000; }

.button-gam__transform .button-gam__line:nth-child(1) {
  -webkit-transform: translateX(10px);
  transform: translateX(10px); }

.button-gam__transform .button-gam__line:nth-child(3) {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px); }

.header {
  display: none;
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 500px;
  height: 100%;
  padding-top: 200px;
  -webkit-transform: translate(100%);
  transform: translate(100%);
  -webkit-transition: 0.4s -webkit-transform ease;
  transition: 0.4s -webkit-transform ease;
  transition: 0.4s transform ease;
  transition: 0.4s transform ease, 0.4s -webkit-transform ease; }
  .header__logo {
    margin-bottom: 100px; }

.header-media {
  -webkit-transform: translate(0);
  transform: translate(0); }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .nav__item {
    margin-bottom: 20px; }
  .nav__link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    -webkit-transition: 0.3s background ease;
    transition: 0.3s background ease; }
    .nav__link::before {
      content: "";
      position: absolute;
      left: 0;
      width: 1px;
      height: 80%;
      background-color: #000;
      -webkit-transform: translate(-40px);
      transform: translate(-40px);
      opacity: 0;
      -webkit-transition: 0.4s opacity ease, 0.3s -webkit-transform ease;
      transition: 0.4s opacity ease, 0.3s -webkit-transform ease;
      transition: 0.3s transform ease, 0.4s opacity ease;
      transition: 0.3s transform ease, 0.4s opacity ease, 0.3s -webkit-transform ease;
      pointer-events: none; }
    .nav__link:hover::before {
      -webkit-transform: translate(0);
      transform: translate(0);
      opacity: 1; }
  .nav__name {
    z-index: 1;
    font-family: "Ow-el";
    letter-spacing: 2px;
    font-size: 1.8em;
    color: #000;
    -webkit-transition: 0.3s color ease;
    transition: 0.3s color ease; }

.link-not {
  text-decoration: line-through; }

.portfolio-header {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: #fff; }

.p-header--transform {
  z-index: 9999999;
  position: fixed;
  height: 60px; }
  .p-header--transform .portfolio-list-drop {
    position: absolute;
    top: 60px; }

.p-button-gam {
  z-index: 5;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer; }
  .p-button-gam__line {
    display: block;
    width: 100%;
    height: 0.2em;
    background: #000;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }

.portfolio-logo {
  z-index: 5;
  font-family: "Shoul";
  font-size: 2em;
  color: #000; }

.portfolio-nav {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 1260px; }
  .portfolio-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%; }
  .portfolio-nav__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .portfolio-nav__item::before {
      position: absolute;
      left: 0;
      content: "";
      width: 0.1em;
      height: 20px;
      background: #101010;
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
      opacity: 0;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .portfolio-nav__item:hover::before {
      opacity: 1;
      -webkit-transform: translateX(20px);
      transform: translateX(20px); }
  .portfolio-nav__name {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 100%;
    font-family: "Ow-el";
    color: #000;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer; }
  .portfolio-nav__name-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .portfolio-nav__name-arrow::after {
      content: "\f105";
      font-family: fontawesome;
      font-size: 1.2em;
      margin-left: 10px;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      color: #505050; }
  .portfolio-nav__item:hover .portfolio-nav__name-arrow::after {
    -webkit-transform: rotate(90deg) translate(4px);
    transform: rotate(90deg) translate(4px); }

.portfolio-list-drop {
  position: absolute;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 200px;
  padding: 20px;
  background: #101010;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: 0.3s opacity ease, 0.3s visibility ease, 0.3s -webkit-transform ease;
  transition: 0.3s opacity ease, 0.3s visibility ease, 0.3s -webkit-transform ease;
  transition: 0.3s opacity ease, 0.3s transform ease, 0.3s visibility ease;
  transition: 0.3s opacity ease, 0.3s transform ease, 0.3s visibility ease, 0.3s -webkit-transform ease; }
  .portfolio-list-drop__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 10px;
    color: #a9a3a6;
    font-size: 0.8em;
    font-family: "Ow-el";
    letter-spacing: 3px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .portfolio-list-drop__link:hover {
      background-color: #505050;
      color: #fff; }

.portfolio-nav__item:hover .portfolio-list-drop {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 1260px;
  height: 80px; }
  .footer__social-icon {
    margin-right: 10px; }
    .footer__social-icon::before {
      font-family: fontawesome;
      color: #101010;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
  .footer__social-icon-f::before {
    content: "\f09a"; }
  .footer__social-icon-in::before {
    content: "\f16d"; }
  .footer__social-icon-tw::before {
    content: "\f099"; }
  .footer__mail {
    font-family: "Ow-el";
    color: #101010; }

.main-body {
  font-family: "Ow";
  background: #fff; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-transition: 0.3s all ease, 0.5s border-radius ease, 0.4s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
  transition: 0.3s all ease, 0.5s border-radius ease, 0.4s -webkit-transform ease, 0.6s -webkit-box-shadow ease;
  transition: 0.3s all ease, 0.4s transform ease, 0.6s box-shadow ease, 0.5s border-radius ease;
  transition: 0.3s all ease, 0.4s transform ease, 0.6s box-shadow ease, 0.5s border-radius ease, 0.4s -webkit-transform ease, 0.6s -webkit-box-shadow ease; }

.wrapper-transform {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scale(0.8) translate(-30%);
  transform: scale(0.8) translate(-30%);
  -webkit-filter: saturate(0);
  filter: saturate(0);
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 20px 0 #000 inset;
  box-shadow: 0 6px 20px 0 #000 inset; }

.section-main {
  position: relative;
  width: 100%;
  height: 100vh; }

.video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 1; }

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .intro__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(18, 18, 18, 0.5); }
  .intro__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2em;
    font-family: "Ow-el";
    text-transform: uppercase;
    color: #fff; }
  .intro__title-change {
    margin-left: 6px;
    color: #a9a3a6; }
  .intro__title-line {
    display: block;
    margin-bottom: 4px;
    font-size: 1em;
    color: #a9a3a6;
    font-weight: bold; }

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 140px;
  background: rgba(18, 18, 18, 0.5); }

.skills__title {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: 20px;
  font-size: 3em;
  color: #fff; }

.skills__text {
  margin-bottom: 100px;
  font-family: "Ow-el";
  font-size: 1.13em;
  color: #fff; }

.skills__list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.skills__list-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.skills__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 30px;
  margin-bottom: 20px; }

.skills__text-name {
  position: relative;
  font-family: "Ow-el";
  color: #fff; }
  .skills__text-name::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0.05em;
    background: #fff; }

.skills__text-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
  margin-left: 6px;
  font-size: 0.9em;
  font-family: "Ow-el";
  color: #fff; }

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70%; }

.skills__item {
  position: relative;
  height: 30px;
  margin-bottom: 20px; }
  .skills__item::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 0.1em;
    background: rgba(18, 18, 18, 0.2); }

.skills__name {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #fff; }

.skills__line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1em;
  background: #fff; }
  .skills__line::after {
    z-index: 1;
    position: absolute;
    right: -32px;
    bottom: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30px;
    height: 20px;
    font-family: "Ow-el";
    font-size: 0.8em;
    color: #fff;
    border: 1px solid #fff; }

.skills__line-html {
  width: 95%; }
  .skills__line-html::after {
    content: "98%"; }

.skills__line-figma {
  width: 55%; }
  .skills__line-figma::after {
    content: "60%"; }

.skills__line-js {
  width: 50%; }
  .skills__line-js::after {
    content: "55%"; }

.skills__line-php {
  width: 45%; }
  .skills__line-php::after {
    content: "50%"; }

.portfolio-body {
  font-family: "Ow";
  background-color: #ecf0f1; }
  .portfolio-body__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 120px 0; }
  .portfolio-body__intro-title {
    font-size: 6em; }
  .portfolio-body__intro-undertitle {
    margin-bottom: 30px;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    text-align: center; }
  .portfolio-body__intro-text {
    max-width: 900px;
    text-align: center;
    font-family: "Ow-el";
    font-size: 1.1em;
    color: #505050; }

.portfolio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin-bottom: 100px; }
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%; }
  .portfolio__link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 31.7%;
    height: 500px;
    margin: 10px;
    overflow: hidden; }
    .portfolio__link:hover .portfolio__text-wrap {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
  .portfolio__image {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-transition: 3s all ease, 0.5s background-size ease;
    transition: 3s all ease, 0.5s background-size ease; }
  .portfolio__eye {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    background: rgba(0, 0, 0, 0.1); }
    .portfolio__eye .fa {
      color: #fff;
      padding: 16px;
      font-size: 1.8em;
      border-radius: 50%;
      border: 3px solid #fff;
      -webkit-transform: scale(1.6);
      transform: scale(1.6);
      opacity: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: 0.4s all ease;
      transition: 0.4s all ease; }
  .portfolio__text-wrap {
    z-index: 1;
    position: absolute;
    bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    padding: 20px 0;
    padding-left: 40px;
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    background-color: #000; }
  .portfolio__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6em;
    color: #cfcfcf;
    text-decoration: underline; }
    .portfolio__desc:hover {
      text-decoration: none; }
    .portfolio__desc::after {
      display: block;
      content: "|";
      margin: 10px; }
  .portfolio__main-word {
    font-size: 1.6em;
    color: #fff;
    text-decoration: underline; }
    .portfolio__main-word:hover {
      text-decoration: none; }
  .portfolio__link:hover .fa {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  .portfolio__link:hover .portfolio__eye {
    background: rgba(0, 0, 0, 0.4); }

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  background-color: #121212;
  color: #fff;
  font-family: "Ow-el"; }
  .about-me__title {
    width: 100%;
    max-width: 400px;
    margin: 20px 0; }
  .about-me__text {
    max-width: 400px; }
  .about-me__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 400px; }
  .about-me__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .about-me__item {
    margin-right: 4px; }
    .about-me__item:last-child {
      margin-bottom: 0; }
  .about-me__margin {
    margin-bottom: 10px; }
  .about-me__text-wrap {
    width: 100%;
    max-width: 300px; }
  .about-me__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
  .about-me__tell, .about-me__mail {
    color: #fff;
    margin-right: 40px;
    font-size: 0.9em;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .about-me__tell:hover, .about-me__mail:hover {
      color: #505050; }

@media screen and (max-width: 1260px) {
  .section-main {
    padding-left: 0; }
  .portfolio-body {
    padding: 20px; }
    .portfolio-body__intro-title {
      font-size: 4em; }
    .portfolio-body__intro-undertitle {
      font-size: 1em; }
  .portfolio__link {
    width: 47%; } }

@media screen and (max-width: 1024px) {
  .header {
    background: rgba(255, 255, 255, 0.8); }
  .skills__inner {
    padding: 100px 100px; }
  .skills__text {
    margin-bottom: 40px; }
  .skills__list-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .skills__list-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px; }
  .skills__item-text {
    margin-right: 20px; }
    .skills__item-text:last-child {
      margin-right: 0; }
  .skills__list {
    width: 100%; }
  .portfolio__link:hover .portfolio__eye {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0); }
  .portfolio-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff; }
  .portfolio-nav__list {
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #101010;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .portfolio-nav__list .portfolio-nav__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      margin-bottom: 10px; }
    .portfolio-nav__list .portfolio-nav__name-arrow::after {
      display: none; }
    .portfolio-nav__list .portfolio-nav__name {
      color: #fff; }
  .portfolio-nav__list-media {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible; }
  .p-button-gam {
    position: fixed;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .p-button-gam__transform .p-button-gam__line {
    background-color: #fff; }
    .p-button-gam__transform .p-button-gam__line:nth-child(1) {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px); }
    .p-button-gam__transform .p-button-gam__line:nth-child(2) {
      -webkit-transform: translateX();
      transform: translateX(); }
    .p-button-gam__transform .p-button-gam__line:nth-child(3) {
      -webkit-transform: translateX(10px);
      transform: translateX(10px); }
  .portfolio-logo {
    position: fixed;
    left: 20px; }
  .portfolio-logo-media {
    color: #fff; }
  .portfolio-list-drop {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 300px;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@media screen and (max-width: 750px) {
  .skills__inner {
    padding: 0 50px;
    padding-top: 100px; }
  .portfolio__link {
    width: 100%;
    height: 600px; } }

@media screen and (max-width: 600px) {
  .header {
    width: 100%; }
  .intro__title {
    font-size: 1.6em; }
  .skills__inner {
    padding: 0 30px; }
  .skills__title {
    font-size: 2em;
    margin-bottom: 10px; }
  .skills__text {
    font-size: 0.9em;
    margin-bottom: 10px; }
  .skills__list-text {
    margin-bottom: 10px; }
  .skills__item-text {
    font-size: 0.9em;
    margin-bottom: 20px; }
  .skills__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .skills__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-right: 10px; }
  .skills__line {
    display: none; } }

@media screen and (max-width: 400px) {
  .intro__title {
    font-size: 1.2em; }
  .skills__name {
    font-size: 0.8em; }
  .portfolio-body__intro-title {
    font-size: 2em; }
  .portfolio-body__intro-undertitle {
    font-size: 0.8em; } }
