@charset "UTF-8";
main {
  display: block; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  text-decoration: none; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  /* 3 */
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html,
body {
  height: 100%; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal; }

button {
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Ow";
  src: url(../fonts/Oswald-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Ow-el";
  src: url(../fonts/Oswald-ExtraLight.ttf);
  font-display: block; }

@font-face {
  font-family: "Ow-b";
  src: url(../fonts/Oswald-SemiBold.ttf);
  font-display: block; }

@font-face {
  font-family: "Shoul";
  src: url(../fonts/Big_Shoulders_Stencil_Text/BigShouldersStencilText-Bold.ttf);
  font-display: block; }

@font-face {
  font-family: "Marcellus-Regular";
  src: url(../fonts/Marcellus-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
  font-display: block; }

@font-face {
  font-family: "RougeScript";
  src: url(../fonts/Roge/RougeScript-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Lato-B";
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-display: block; }

@font-face {
  font-family: "Amiri";
  src: url(../fonts/Amiri/Amiri-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Playfair";
  src: url(../fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf);
  font-display: block; }

@font-face {
  font-family: "Rambla";
  src: url(../fonts/Rambla/Rambla-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Monoton";
  src: url(../fonts/Monoton/Monoton-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Archivo";
  src: url(../fonts/Archivo/ArchivoBlack-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "Monda";
  src: url(../fonts/Monda/Monda-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "MondaB";
  src: url(../fonts/Monda/Monda-Bold.ttf);
  font-display: block; }

@font-face {
  font-family: "RobotoC";
  src: url(../fonts/Roboto/RobotoCondensed-Regular.ttf);
  font-display: block; }

@font-face {
  font-family: "RobotoB";
  src: url(../fonts/Roboto/RobotoCondensed-Bold.ttf);
  font-display: block; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.portfolio-preload {
  z-index: 99999999999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #000; }
  .portfolio-preload__inner {
    z-index: 2222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 320px;
    height: 140px; }
  .portfolio-preload__line-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    width: 40px;
    height: 40px; }
  .portfolio-preload__line {
    width: 10px;
    height: 10px;
    margin: 1px;
    background: #fff;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
    -webkit-animation: enter 4s infinite;
    animation: enter 4s infinite; }
    .portfolio-preload__line:nth-child(1) {
      -webkit-animation-delay: 1.8s;
      animation-delay: 1.8s; }
    .portfolio-preload__line:nth-child(2) {
      -webkit-animation-delay: 2.1s;
      animation-delay: 2.1s; }
    .portfolio-preload__line:nth-child(3) {
      -webkit-animation-delay: 2.4s;
      animation-delay: 2.4s; }
    .portfolio-preload__line:nth-child(4) {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s; }
    .portfolio-preload__line:nth-child(5) {
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s; }
    .portfolio-preload__line:nth-child(6) {
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s; }
    .portfolio-preload__line:nth-child(8) {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .portfolio-preload__line:nth-child(9) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }

@-webkit-keyframes enter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    background: rgba(255, 255, 255, 0.3); }
  50.9% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  55.9% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

@keyframes enter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    background: rgba(255, 255, 255, 0.3); }
  50.9% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  55.9% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

.portfolio-preload-transform {
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.8s opacity ease, 1s -webkit-transform ease;
  transition: 0.8s opacity ease, 1s -webkit-transform ease;
  transition: 0.8s opacity ease, 1s transform ease;
  transition: 0.8s opacity ease, 1s transform ease, 1s -webkit-transform ease; }

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: #000;
  font-family: "Ow-b"; }

.header {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 2vw; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%; }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%; }
  .header__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1vw 0; }
    .header__item::before, .header__item::after {
      content: "";
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 0.1em;
      height: 2.5vw;
      -webkit-transition: 0.8s all ease;
      transition: 0.8s all ease;
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s; }
    .header__item::after {
      background: -webkit-gradient(linear, left top, left bottom, from(gray), to(transparent));
      background: linear-gradient(to bottom, gray, transparent); }
    .header__item::before {
      background: -webkit-gradient(linear, left bottom, left top, from(gray), to(transparent));
      background: linear-gradient(to top, gray, transparent); }
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    margin: 0.3vw 0;
    font-family: "Ow";
    color: gray;
    font-size: 1em;
    text-transform: uppercase;
    -webkit-transition: 0.6s all ease, 0s color ease;
    transition: 0.6s all ease, 0s color ease;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s; }
    .header__link .fa-home {
      font-size: 1.2em; }

.item-active:nth-child(2) .header__link, .item-active:nth-child(4) .header__link {
  color: #fff; }

.item-active::before, .item-active::after {
  height: 4vw; }

.item-active::before {
  -webkit-transform: translateY(-1vw);
  transform: translateY(-1vw); }

.item-active::after {
  -webkit-transform: translateY(1vw);
  transform: translateY(1vw); }

.item-active .header__link {
  color: #000; }

.intro {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff; }
  .intro__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000;
    text-transform: uppercase;
    font-size: 6em; }
  .intro__word {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0; }
  .intro__undertitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Ow";
    font-size: 2em; }
  .intro__undertitle-text {
    margin-left: 0.3vw; }

.portfolio {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1vw 6vw; }
  .portfolio__item {
    z-index: 2;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20vw;
    height: 48%;
    margin: 0.5vw;
    border-radius: 1%;
    overflow: hidden;
    -webkit-transition: 1s opacity cubic-bezier(0.8, 0.9, 0.1, 0.9), 1s -webkit-transform cubic-bezier(0.8, 0.9, 0.1, 0.9);
    transition: 1s opacity cubic-bezier(0.8, 0.9, 0.1, 0.9), 1s -webkit-transform cubic-bezier(0.8, 0.9, 0.1, 0.9);
    transition: 1s transform cubic-bezier(0.8, 0.9, 0.1, 0.9), 1s opacity cubic-bezier(0.8, 0.9, 0.1, 0.9);
    transition: 1s transform cubic-bezier(0.8, 0.9, 0.1, 0.9), 1s opacity cubic-bezier(0.8, 0.9, 0.1, 0.9), 1s -webkit-transform cubic-bezier(0.8, 0.9, 0.1, 0.9);
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .portfolio__item:nth-child(1) {
      -webkit-transform: translateX(-4vw);
      transform: translateX(-4vw); }
    .portfolio__item:nth-child(2) {
      -webkit-transform: translateX(-24.68vw);
      transform: translateX(-24.68vw); }
    .portfolio__item:nth-child(3) {
      -webkit-transform: translateX(-45.5vw);
      transform: translateX(-45.5vw); }
    .portfolio__item:nth-child(4) {
      -webkit-transform: translateX(-66.2vw);
      transform: translateX(-66.2vw); }
    .portfolio__item:nth-child(5) {
      -webkit-transform: translateX(66vw);
      transform: translateX(66vw); }
    .portfolio__item:nth-child(6) {
      -webkit-transform: translateX(45vw);
      transform: translateX(45vw); }
  .portfolio__img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .portfolio__img-wrap::after {
      content: "\f06e";
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-family: fontawesome;
      color: #fff;
      font-size: 3em;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      -webkit-transition: 0.8s opacity ease;
      transition: 0.8s opacity ease; }
    .portfolio__img-wrap:hover::after {
      opacity: 1; }
  .portfolio__img {
    width: 100%;
    height: 100%;
    -o-object-position: top;
    object-position: top;
    -o-object-fit: cover;
    object-fit: cover; }
  .portfolio__code-link-wrap {
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 90%;
    height: 6vh;
    margin-left: 5%;
    margin-bottom: 1vw;
    background: #000;
    -webkit-box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.6); }
  .portfolio__code-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
    color: #fff;
    font-size: 1em;
    font-family: "Ow";
    -webkit-transition: 0.5s width ease;
    transition: 0.5s width ease; }
    .portfolio__code-link:last-child {
      color: #000;
      background: #fff; }
    .portfolio__code-link:hover {
      width: 70%; }

.preload {
  z-index: 22;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; }

.section {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 1.7s opacity ease;
  transition: 1.7s opacity ease; }
  .section .preload {
    -webkit-animation: 1.2s wordPreloadBack forwards cubic-bezier(0.8, 0.9, 0.1, 0.9);
    animation: 1.2s wordPreloadBack forwards cubic-bezier(0.8, 0.9, 0.1, 0.9); }
  .section .intro__word {
    -webkit-animation: 0.5s wordTransformBack both ease;
    animation: 0.5s wordTransformBack both ease; }
    .section .intro__word:nth-child(9) {
      -webkit-animation-delay: 0s;
      animation-delay: 0s; }
    .section .intro__word:nth-child(8) {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    .section .intro__word:nth-child(6) {
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s; }
    .section .intro__word:nth-child(5) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .section .intro__word:nth-child(4) {
      -webkit-animation-delay: 0.25s;
      animation-delay: 0.25s; }
    .section .intro__word:nth-child(3) {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .section .intro__word:nth-child(2) {
      -webkit-animation-delay: 0.35s;
      animation-delay: 0.35s; }
    .section .intro__word:nth-child(1) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .section .intro__word:nth-child(7) {
      -webkit-animation: 0.3s lineTransformBack forwards ease;
      animation: 0.3s lineTransformBack forwards ease; }
  .section .intro__undertitle {
    -webkit-animation: 0.5s underTransformBack both ease;
    animation: 0.5s underTransformBack both ease; }

.intro__active {
  z-index: 1;
  opacity: 1; }
  .intro__active .preload {
    -webkit-animation: 1.2s wordPreload forwards cubic-bezier(0.8, 0.9, 0.1, 0.9);
    animation: 1.2s wordPreload forwards cubic-bezier(0.8, 0.9, 0.1, 0.9); }
  .intro__active .intro__word {
    -webkit-animation: 0.5s wordTransform both ease;
    animation: 0.5s wordTransform both ease; }
    .intro__active .intro__word:nth-child(1) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .intro__active .intro__word:nth-child(2) {
      -webkit-animation-delay: 0.45s;
      animation-delay: 0.45s; }
    .intro__active .intro__word:nth-child(3) {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    .intro__active .intro__word:nth-child(4) {
      -webkit-animation-delay: 0.55s;
      animation-delay: 0.55s; }
    .intro__active .intro__word:nth-child(5) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    .intro__active .intro__word:nth-child(6) {
      -webkit-animation-delay: 0.65s;
      animation-delay: 0.65s; }
    .intro__active .intro__word:nth-child(8) {
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s; }
    .intro__active .intro__word:nth-child(9) {
      -webkit-animation-delay: 0.75s;
      animation-delay: 0.75s; }
    .intro__active .intro__word:nth-child(7) {
      opacity: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation: 1.5s lineTransform forwards ease;
      animation: 1.5s lineTransform forwards ease;
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
  .intro__active .intro__undertitle {
    -webkit-animation: 2s underTransform forwards ease;
    animation: 2s underTransform forwards ease; }
  .intro__active .portfolio__item {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s; }

.skill {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1vw 2vw;
  background: #fff; }
  .skill__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-family: "Ow-b"; }
  .skill__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20vw;
    margin-bottom: 2vw;
    -webkit-animation: 0.9s skillTransformBack forwards ease;
    animation: 0.9s skillTransformBack forwards ease; }
  .skill__name {
    font-size: 4em;
    color: #000; }
  .skill .preload {
    -webkit-animation: 1.2s wordPreloadTop forwards cubic-bezier(0.8, 0.9, 0.1, 0.9);
    animation: 1.2s wordPreloadTop forwards cubic-bezier(0.8, 0.9, 0.1, 0.9); }

.skill.intro__active .preload {
  -webkit-animation: 1.2s wordPreloadBottom forwards cubic-bezier(0.8, 0.9, 0.1, 0.9);
  animation: 1.2s wordPreloadBottom forwards cubic-bezier(0.8, 0.9, 0.1, 0.9); }

.skill.intro__active .skill__item {
  -webkit-animation: 0.9s skillTransform both ease;
  animation: 0.9s skillTransform both ease; }
  .skill.intro__active .skill__item:nth-child(1) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .skill.intro__active .skill__item:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .skill.intro__active .skill__item:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .skill.intro__active .skill__item:nth-child(4) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .skill.intro__active .skill__item:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .skill.intro__active .skill__item:nth-child(6) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .skill.intro__active .skill__item:nth-child(7) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .skill.intro__active .skill__item:nth-child(8) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .skill.intro__active .skill__item:nth-child(9) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .skill.intro__active .skill__item:nth-child(10) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .skill.intro__active .skill__item:nth-child(11) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .skill.intro__active .skill__item:nth-child(12) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1vw 8vw;
  background: #000; }
  .about__title {
    margin-bottom: 2vw;
    font-size: 4em;
    font-family: "Ow";
    color: #fff;
    -webkit-animation: 0.9s skillTransformBack forwards ease;
    animation: 0.9s skillTransformBack forwards ease; }
  .about__text {
    width: 100%;
    max-width: 70%;
    margin-bottom: 2vw;
    font-size: 1em;
    font-family: "Ow-el";
    color: #fff;
    -webkit-animation: 0.9s skillTransformBack forwards ease;
    animation: 0.9s skillTransformBack forwards ease; }
  .about__item {
    font-family: "Ow-el";
    color: #fff;
    -webkit-animation: 0.9s aboutTransformBack both ease;
    animation: 0.9s aboutTransformBack both ease; }
    .about__item:nth-child(5) {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    .about__item:nth-child(4) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .about__item:nth-child(3) {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .about__item:nth-child(2) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .about__item:nth-child(1) {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
  .about__text-num {
    font-family: "Ow-el";
    color: #fff; }
  .about .preload {
    -webkit-animation: 1.2s wordPreloadBottom forwards cubic-bezier(0.8, 0.9, 0.1, 0.9);
    animation: 1.2s wordPreloadBottom forwards cubic-bezier(0.8, 0.9, 0.1, 0.9); }

.about.intro__active .about__title {
  -webkit-animation: 0.9s skillTransform both ease;
  animation: 0.9s skillTransform both ease;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.about.intro__active .about__text {
  -webkit-animation: 0.9s skillTransform both ease;
  animation: 0.9s skillTransform both ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.about.intro__active .about__item {
  font-family: "Ow-el";
  color: #fff;
  -webkit-animation: 0.9s aboutTransformRight both ease;
  animation: 0.9s aboutTransformRight both ease; }
  .about.intro__active .about__item:nth-child(1) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  .about.intro__active .about__item:nth-child(2) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .about.intro__active .about__item:nth-child(3) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s; }
  .about.intro__active .about__item:nth-child(4) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }
  .about.intro__active .about__item:nth-child(5) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s; }

@-webkit-keyframes wordPreload {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@keyframes wordPreload {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@-webkit-keyframes wordPreloadBack {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes wordPreloadBack {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes lineTransform {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes lineTransform {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes lineTransformBack {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes lineTransformBack {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes wordTransform {
  0% {
    -webkit-transform: translateY(1vw);
    transform: translateY(1vw);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes wordTransform {
  0% {
    -webkit-transform: translateY(1vw);
    transform: translateY(1vw);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes wordTransformBack {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(2vw);
    transform: translateY(2vw);
    opacity: 0; } }

@keyframes wordTransformBack {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(2vw);
    transform: translateY(2vw);
    opacity: 0; } }

@-webkit-keyframes underTransform {
  0% {
    -webkit-transform: translateY(5vw);
    transform: translateY(5vw);
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes underTransform {
  0% {
    -webkit-transform: translateY(5vw);
    transform: translateY(5vw);
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes underTransformBack {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(5vw);
    transform: translateY(5vw);
    opacity: 0; } }

@keyframes underTransformBack {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(5vw);
    transform: translateY(5vw);
    opacity: 0; } }

@-webkit-keyframes wordPreloadBottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@keyframes wordPreloadBottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@-webkit-keyframes wordPreloadTop {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes wordPreloadTop {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes skillTransform {
  0% {
    -webkit-transform: translateY(-5vw);
    transform: translateY(-5vw);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes skillTransform {
  0% {
    -webkit-transform: translateY(-5vw);
    transform: translateY(-5vw);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes skillTransformBack {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-5vw);
    transform: translateY(-5vw);
    opacity: 0; } }

@keyframes skillTransformBack {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-5vw);
    transform: translateY(-5vw);
    opacity: 0; } }

@-webkit-keyframes aboutTransformRight {
  0% {
    -webkit-transform: translateX(5vw);
    transform: translateX(5vw);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes aboutTransformRight {
  0% {
    -webkit-transform: translateX(5vw);
    transform: translateX(5vw);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes aboutTransformBack {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(5vw);
    transform: translateX(5vw);
    opacity: 0; } }

@keyframes aboutTransformBack {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(5vw);
    transform: translateX(5vw);
    opacity: 0; } }

@media screen and (max-width: 1441px) {
  .portfolio__code-link-wrap {
    height: 3vw; } }

@media screen and (max-width: 1251px) {
  .header__item::before, .header__item::after {
    height: 4vw; }
  .item-active::before, .item-active::after {
    height: 6vw; }
  .portfolio__code-link-wrap {
    height: 2vh; }
  .skill {
    padding: 1vw 6vw; }
    .skill__name {
      font-size: 3em; } }

@media screen and (max-width: 1024px) {
  .portfolio__code-link-wrap {
    height: 2vw; }
  .portfolio__code-link {
    font-size: 0.8em; }
  .skill {
    padding: 1vw 10vw; }
    .skill__name {
      font-size: 2em; } }

@media screen and (max-width: 768px) {
  .header__link {
    margin: 0.6vw 0; }
  .header__item::before, .header__item::after {
    height: 8vw; }
  .item-active::before, .item-active::after {
    height: 10vw; }
  .portfolio__code-link-wrap {
    height: 3vw; }
  .portfolio__code-link {
    font-size: 0.7em; } }

@media screen and (max-width: 720px) {
  .header__link {
    margin: 0.5vw 0;
    font-size: 0.8em; }
    .header__link .fa-home {
      font-size: 1em; }
  .header__item::before, .header__item::after {
    height: 5vw; }
  .item-active::before, .item-active::after {
    height: 6vw; } }

@media screen and (max-width: 640px) {
  .header__link {
    margin: 0.3vw 0;
    font-size: 0.5em; }
    .header__link .fa-home {
      font-size: 1.1em; }
  .header__item::before, .header__item::after {
    height: 4vw; }
  .item-active::before, .item-active::after {
    height: 5vw; } }

@media screen and (max-width: 540px) {
  .portfolio__code-link-wrap {
    height: 4vw; }
  .portfolio__code-link {
    font-size: 0.7em; }
  .skill {
    padding: 1vw 10vw; }
    .skill__name {
      font-size: 1.5em; } }

@media (max-width: 426px) and (max-height: 825px) {
  .header__link {
    margin: 1.5vw 0;
    font-size: 0.8em; }
    .header__link .fa-home {
      font-size: 1.1em; }
  .header__item {
    margin: 4vw 0; }
    .header__item::before, .header__item::after {
      height: 10vw; }
  .item-active::before, .item-active::after {
    height: 12vw; }
  .intro__title {
    font-size: 3em; }
  .intro__undertitle {
    font-size: 1.5em; }
  .portfolio {
    padding: 1vw 4.5vw; }
    .portfolio__item {
      width: 26vw;
      height: 48%; }
    .portfolio__code-link-wrap {
      height: 4vw; }
    .portfolio__code-link {
      font-size: 0.5em; }
  .skill__name {
    font-size: 1em; } }
