@media screen and (max-width: 1250px) {
    .ca-header,
    .ca-crafting,
    .ca-best {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1000px) {
    .ca-crafting__round {
        width: 240px;
        height: 240px;
    }

    .ca-crafting__round-img {
        width: 120px;
        height: 50px;
    }

    .ca-crafting__round-title {
        font-size: 3em;
    }

    .ca-crafting__round-num {
        font-size: 2em;
    }

    .ca-crafting__squaer-image {
        width: 400px;
        height: 200px;
    }

    .ca-crafting__squaer-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .ca-crafting__squaer-num {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .ca-crafting__squaer-link {
    }
}
@media screen and (max-width: 850px) {
    .ca-crafting__over-title,
    .ca-best__over-title {
        font-size: 3em;
    }
    .ca-best__title,
    .ca-crafting__title {
        font-size: 3em;
    }
}

@media screen and (max-width: 750px) {
    .ca-crafting__shop-now {
        flex-direction: column;
        align-items: center;
    }

    .ca-crafting__round {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 650px) {
    .ca-top-menu__logotype {
        width: 160px;
        height: 80px;
    }

    .ca-header__button {
        display: flex;
    }

    .ca-header__button-transform {
        display: none;
    }

    .ca-header-t__transform {
        transform: translateX(0);
    }

    .ca-header__list {
        flex-wrap: wrap;
    }

    .ca-top-menu__links-wrap,
    .ca-top-menu__usd-lang {
        display: none;
    }

    .ca-main-slider__round {
        width: 320px;
        height: 320px;
    }

    .ca-main-slider__title {
        font-size: 3em;
    }

    .ca-main-slider__sub-title {
        font-size: 1.8em;
    }

    .ca-crafting__over-title,
    .ca-best__over-title {
        font-size: 2em;
    }
    .ca-best__title,
    .ca-crafting__title {
        font-size: 2em;

        &::before,
        &::after {
            content: "";
            width: 40px;
            height: 14px;
        }
    }

    .ca-best__image-wrap {
        justify-content: center;
    }

    .ca-footer {
        padding: 0 20px;
    }

    .ca-footer__list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .ca-footer__text {
        font-size: 0.9em;
    }
}


@media screen and (max-width: 500px) {
    .ca-crafting__over-title,
    .ca-best__over-title {
        font-size: 2em;
    }
    .ca-best__title,
    .ca-crafting__title {
        font-size: 1.3em;
    }

    .ca-crafting__squaer-image {
        width: 300px;
        height: 100px;
    }

    .ca-main-slider__round {
        width: 220px;
        height: 220px;
    }

    .ca-main-slider__title {
        font-size: 2em;
    }

    .ca-main-slider__sub-title {
        font-size: 1.2em;
    }

    .ca-main-slider__pictures-stick {
        width: 50px !important;
        height: 18px !important;
    }

    .ca-main-slider__pictures-bird {
        width: 60px !important;
        height: 60px !important;  
    }
}