@font-face {
    font-family: "Ow";
    src: url(../fonts/Oswald-Regular.ttf);
    font-display: block;
}

@font-face {
    font-family: "Ow-el";
    src: url(../fonts/Oswald-ExtraLight.ttf);
    font-display: block;
}

@font-face {
    font-family: "Ow-b";
    src: url(../fonts/Oswald-SemiBold.ttf);
    font-display: block;
}

@font-face {
    font-family: "Shoul";
    src: url(../fonts/Big_Shoulders_Stencil_Text/BigShouldersStencilText-Bold.ttf);
    font-display: block;
}

@font-face {
    font-family: "Marcellus-Regular";
    src: url(../fonts/Marcellus-Regular.ttf);
    font-display: block;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-display: block;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-display: block;
}

@font-face {
    font-family: "RougeScript";
    src: url(../fonts/Roge/RougeScript-Regular.ttf);
    font-display: block;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Regular.ttf);
    font-display: block;
}

@font-face {
    font-family: "Lato-B";
    src: url(../fonts/Lato/Lato-Bold.ttf);
    font-display: block;
}

@font-face {
    font-family: "Amiri";
    src: url(../fonts/Amiri/Amiri-Regular.ttf);
    font-display: block;
}

@font-face {
    font-family: "Playfair";
    src: url(../fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf);
    font-display: block;
}

@font-face {
    font-family: "Rambla";
    src: url(../fonts/Rambla/Rambla-Regular.ttf);
    font-display: block;
}

@font-face {
    font-family: "Monoton";
    src: url(../fonts/Monoton/Monoton-Regular.ttf);
    font-display: block;
}