@media screen and (max-width: 1024px) {
    .button-gam {
        display: flex;
    }

    .header {
        padding: 10% 0 4% 0;
    }

    .logo {
        width: max-content;
    }

    .nav {
        align-items: center;
        justify-content: center;
        height: 800px;
        margin: 10px 0;

        &__list {
            display: flex;
            align-items: center;

            width: 100%;
        }

        &__item {
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;
            width: 100%;
        }

        &__name {
            justify-content: center;
        }
    }

    .dropdownlink {
        &::after {
            display: none;
        }
    }

    .nav__name-open .dropdownlink {
        &::after {
            display: none;
        }
    }

    .list-drop {
        width: 140px;
        margin: 10px 0;
        padding: 10px;

        border-right: 1px solid $gray;

        &__item {
            margin-bottom: 4px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        &__link {
            justify-content: center;

            &::before {
                display: none;
            }
        }
    }

    .header-media {
        width: 100%;
    }

    .social-wrap {
        justify-content: center;
        width: max-content;
    }

    .intro__text-container {
        display: none;
    }

    .portfolio {
        &__link:hover &__image {
            background-position: center 0;
            background-size: 110%;
        }

        &__link:hover &__eye {
            backdrop-filter: blur(0);
        }
    }

    .portfolio-header {
        position: fixed;
        background-color: #fff;
    }

    .portfolio-nav__list {
        z-index: 3;

        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        background: #101010;

        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: 0.3s all ease;

        .portfolio-nav__item {
            flex-direction: column;
            width: max-content;
            margin-bottom: 10px;
        }

        .portfolio-nav__name-arrow {
            &::after {
                display: none;
            }
        }

        .portfolio-nav__name {
            color: #fff;
        }
    }

    .portfolio-nav__list-media {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .p-button-gam {
        position: fixed;
        right: 20px;
        display: flex;
    }

    .p-button-gam__transform .p-button-gam__line {
        background-color: #fff;
        &:nth-child(1) {
            transform: translateX(-10px);
        }

        &:nth-child(2) {
            transform: translateX();
        }

        &:nth-child(3) {
            transform: translateX(10px);
        }
    }

    .portfolio-logo {
        position: fixed;
        left: 20px;
    }

    .portfolio-logo-media {
        color: #fff;
    }

    .portfolio-list-drop {
        position: static;

        flex-direction: row;
        flex-wrap: wrap;
        max-width: 300px;

        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
