$black: #000;
$gray: #505050;
$white: #a9a3a6;
$blue:#187ee2;
$lilac: #83147a; 
$red: #A72229;
$rl: #961C52;
$gradient: linear-gradient(to right, #187ee2, #83147a);
$gradient-lb: linear-gradient(to right, #83147a, #187ee2);
$gradient-vr: linear-gradient(to right, #A72229, #83147a);
$dark-gray: #121212;
// unconcuered template
$white-un: #f6f6f6;
$gray-un: #cfcfcf;
// ca template
$ca-gray: #7e7e7e;
$ca-dk-gray: #333333;
$ca-brawn-lig: #BAA491;
// play template
$pl-dk-fiol: #080325;
$pl-lg-fiol: #201B3A;
$pl-lg-fiol-lth: #282247;
$pl-red: #d92b4c;
// fashon
$fas-red: #e52e71;
$fas-orange: #ff8a00;

