.skills {
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        padding: 0 140px;

        background: rgba($dark-gray, 0.5);
    }

    &__title {
        align-self: flex-start;
        margin-bottom: 20px;

        font-size: 3em;
        color: #fff;
    }

    &__text {
        margin-bottom: 100px;
        font-family: "Ow-el";
        font-size: 1.13em;
        color: #fff;
    }

    &__list-wrap {
        display: flex;
        justify-content: space-between;

        width: 100%;
    }

    &__list-text {
        display: flex;
        flex-direction: column;
    }

    &__item-text {
        display: flex;
        align-items: flex-end;

        height: 30px;
        margin-bottom: 20px;
    }

    &__text-name {
        position: relative;
        font-family: "Ow-el";

        color: #fff;
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";

            width: 100%;
            height: 0.05em;

            background: #fff;
        }
    }

    &__text-num {
        display: flex;
        line-height: 20px;
        margin-left: 6px;

        font-size: 0.9em;
        font-family: "Ow-el";

        color: #fff;
    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    &__item {
        position: relative;

        height: 30px;
        margin-bottom: 20px;

        &::after {
            position: absolute;
            left: 0;
            bottom: 0;

            content: "";
            width: 100%;
            height: 0.1em;

            background: rgba($dark-gray, 0.2);
        }
    }

    &__name {
        text-transform: uppercase;
        font-size: 0.9em;

        color: #fff;
    }

    &__line {
        position: absolute;
        left: 0;
        bottom: 0;

        height: 0.1em;
        background: #fff;

        &::after {
            z-index: 1;
            position: absolute;
            right: -32px;
            bottom: -10px;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 30px;
            height: 20px;

            font-family: "Ow-el";
            font-size: 0.8em;
            color: #fff;

            border: 1px solid #fff;
        }
    }

    &__line-html {
        width: 95%;

        &::after {
            content: "98%";
        }
    }

    &__line-figma {
        width: 55%;

        &::after {
            content: "60%";
        }
    }

    &__line-js {
        width: 50%;
        &::after {
            content: "55%";
        }
    }

    &__line-php {
        width: 45%;

        &::after {
            content: "50%";
        }
    }
}
