.paintball-body {
    font-family: "Monda";
}

.pai-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

// общие элементы

.logo {
    width: 100px;
    height: 60px;

    &__img {
        width: 100%;
        height: 100%;

        object-fit: contain;
    }
}

.pai-title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 600px;
    &__word {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100px;
        height: 50px;

        font-family: "RobotoC";
        text-transform: uppercase;
        font-weight: bold;
        color: $brown-lt;

        background-image: url("/image/paintball/icon/subtitle_dark.png");
        background-size: contain;
        background-position: center;
    }
}
.pai-title {
    font-family: "RobotoB";
    color: $brown-dk;
    font-size: 2.6em;
    text-align: center;
}

.pai-button {
    z-index: 1;
    display: block;
    position: relative;
    padding: 10px 50px;

    background: $pai-blue;

    &__word {
        display: block;

        font-family: "RobotoB";
        text-transform: uppercase;
        color: #fff;
    }

    &::after {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 0;
        height: 100%;
        background: $brown-dk;

        transition: 0.4s all ease;
    }

    &:hover:after {
        width: 100%;
    }
}

// шапка
.pai-header {
    z-index: 1;
    position: absolute;
    top: 60px;

    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1400px;
    height: 60px;
    &__nav {
        display: flex;
    }

    &__list {
        display: flex;
    }

    &__item {
        position: relative;
        display: flex;

        height: 100%;

        &:not(:first-child) {
            margin-left: 60px;
        }

        &:hover .pai-drop-list {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;

        font-family: "RobotoC";
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.9em;
        color: #fff;

        transition: 0.3s color ease-in-out;
        &:hover {
            color: $pai-blue;
        }
    }

    &__link-event {
        color: $pai-blue;

        &::before {
            content: "[";
            font-size: 2em;
            margin-right: 10px;
        }

        &::after {
            content: "]";
            font-size: 2em;
            margin-left: 10px;
        }

        &:hover {
            color: #fff;
        }
    }
}

// dropdown menu
.pai-drop-list {
    position: absolute;
    top: 100%;

    width: max-content;
    min-width: 200px;
    padding: 20px;
    background: $pai-blue;

    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: 0.2s all ease;
    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        font-family: "RobotoC";
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.9em;
        color: #fff;

        transition: 0.3s color ease-in-out;
        &:hover {
            color: #000;
        }
    }
}

// стили майн секций

.pai-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.pai-intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    min-height: 400px;

    &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;

        width: 100%;
        height: 60px;

        background-image: url("/image/paintball/section__bg/06_airsoft_about_02.png");
        background-size: cover;
        background-position: center;
        background-repeat: repeat-x;
    }

    &__slider {
        width: 100%;
        height: 100%;
    }

    &__slider-image {
        display: flex !important;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100vh;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        outline: none;

        &:nth-child(1) {
            background-image: url("/image/paintball/slider/slider_1.jpg");
        }

        &:nth-child(2) {
            background-image: url("/image/paintball/slider/slider_2.jpg");
        }

        &:nth-child(3) {
            background-image: url("/image/paintball/slider/slider_3.jpg");
        }
    }

    &__title-wrap {
        position: relative;

        width: 100%;
        max-width: 1400px;
        margin-bottom: 200px;
    }

    &__title-overflow {
        width: max-content;
        overflow: hidden;
    }

    &__title {
        margin-bottom: 20px;
        font-family: "RobotoC";
        font-weight: bold;
        font-size: 5em;
        color: #fff;

        opacity: 0;
        transform: translate3d(200%, 0, 0);
    }

    &__title-sub {
        max-width: 500px;

        font-family: "RobotoC";
        font-size: 1em;
        color: #fff;

        opacity: 0;
        transform: translate3d(0, 200%, 0);
    }
}

.slick-active {
    .pai-intro__title {
        animation: 7s fadeInRight forwards linear;
    }

    .pai-intro__title-sub {
        animation: 7s fadeInUp forwards linear;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(200%, 0, 0) skew(-45deg);
    }

    20% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    90% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 300px, 0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 200%, 0);
    }

    20% {
        opacity: 0;
        transform: translate3d(0, 200%, 0);
    }

    30% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    90% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 300px, 0);
    }
}

// arena section

.pai-arena {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1400px;

    padding: 100px 0;

    &__image-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
    }

    &__image-wrap {
        width: 31%;
        height: 230px;

        &:hover .pai-arena__image,
        &:hover .pai-arena__image-title {
            transform: rotateY(180deg);
        }

        &:hover .pai-arena__title-wrap {
            transform: rotateY(360deg);
        }
    }

    &__image-inner {
        position: relative;
        width: 100%;
        height: 100%;

        perspective: 600px;
    }

    &__image,
    &__title-wrap,
    &__image-title {
        position: absolute;
        left: 0;
        top: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        transition: 0.6s all ease;
    }

    &__image-title {
        z-index: 1;
        flex-direction: row;

        font-size: 2em;
        color: #fff;

        backface-visibility: hidden;
        background: rgba(#000, 0.6);
        transition: 0.6s all ease;

        &::before {
            content: "[";
            font-size: 2.3em;
            margin-right: 10px;

            color: $pai-blue;
        }

        &::after {
            content: "]";
            font-size: 2.3em;
            margin-left: 10px;

            color: $pai-blue;
        }
    }

    &__image {
        object-fit: cover;
    }

    &__title-wrap {
        z-index: 2;
        padding: 10px;
        backface-visibility: hidden;
        transform: rotateY(180deg);

        background: rgba(#000, 0.6);
    }

    &__image-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        color: #fff;

        &::before {
            content: "[";
            font-size: 2.3em;
            margin-right: 10px;

            color: $pai-blue;
        }

        &::after {
            content: "]";
            font-size: 2.3em;
            margin-left: 10px;

            color: $pai-blue;
        }
    }

    &__image-text {
        text-align: center;
        font-size: 0.9em;
        color: #fff;
    }

    &__main-title-wrap {
        margin-top: 120px;
        margin-bottom: 30px;
    }

    &__text {
        text-align: center;
        font-size: 0.8em;
        color: $pai-gray;

        width: 100%;
        max-width: 1000px;
    }

    &__button {
        margin-top: 30px;
    }
}

// what is paintball section

.pai-what {
    position: relative;
    display: flex;

    width: 100%;
    max-width: 1920px;

    background-image: url("/image/paintball/section__bg/bg_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;

    overflow: hidden;
    &::after,
    &::before {
        z-index: 10;
        content: "";
        position: absolute;
        left: 0;

        width: 100%;
        height: 60px;

        background-image: url("/image/paintball/section__bg/06_airsoft_about_02.png");
        background-size: cover;
        background-position: center;
        background-repeat: repeat-x;
    }

    &::after {
        top: -5px;
        transform: rotate(180deg);
    }

    &::before {
        bottom: -5px;
    }

    &__slider {
        width: 50%;
        height: 600px;
    }

    &__slider-image-wrap {
        width: 100%;
        height: 600px;
    }

    &__slider-image {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    & .slick-arrow {
        z-index: 10;
        width: 40px;
        height: 100px;
        background: rgba(#000, 0.5);

        top: auto;
        bottom: 50%;
        transform: translateY(50%);

        transition: 0.3s all ease;
        &:hover {
            background: rgba(#000, 1);
        }
    }

    & .slick-prev {
        left: 20px;

        &::before {
            content: "\f104";
            font-family: fontawesome;
        }
    }

    & .slick-next {
        right: 20px;

        &::before {
            content: "\f105";
            font-family: fontawesome;
        }
    }

    &__intro {
        display: flex;
        flex-direction: column;

        width: 50%;

        padding: 100px 140px;
    }

    &__intro-title-wrap {
        align-items: flex-start;
        margin-bottom: 40px;

        & .pai-title-wrap__word {
            justify-content: flex-start;
            width: 100%;

            margin-bottom: 6px;
            padding-left: 40px;
            background-position: left center;
            background-repeat: no-repeat;
        }

        & .pai-title {
            line-height: 40px;
            text-align: left;
        }
    }

    &__intro-text {
        font-size: 0.9em;
        color: $pai-gray;

        line-height: 20px;
        margin-bottom: 40px;
    }

    &__intro-item {
        font-family: "RobotoB";
        color: $pai-gray;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &::before {
            content: "\f00c";

            margin-right: 20px;

            font-family: fontawesome;
            color: $pai-blue;
        }
    }

    &__intro-link {
        color: $pai-blue;

        transition: 0.3s ease;
        &:hover {
            color: $pai-gray;
        }
    }
}

// pricing section

.pai-pricing {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1200px;

    padding: 100px 0;

    &__title-wrap {
        align-items: flex-start;
        margin-bottom: 40px;

        & .pai-title-wrap__word {
            justify-content: flex-start;
            width: 100%;

            margin-bottom: 6px;
            padding-left: 40px;
            background-position: left center;
            background-repeat: no-repeat;
        }

        & .pai-title {
            line-height: 40px;
            text-align: left;
        }
    }

    &__button-wrap {
        display: flex;

        margin-bottom: 40px;
    }

    &__button {
        min-width: 140px;
        padding: 10px 30px;
        margin-right: 20px;

        text-align: center;
        font-size: 0.9em;

        background: #f3ede8;

        & .pai-button__word {
            color: $pai-gray;
            transition: 0.3s all ease;
        }

        &::after {
            background: $pai-blue;
        }

        &:hover .pai-button__word {
            color: #fff;
        }
    }

    &__card-wrap {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        width: 370px;
        height: 465px;

        background: #f3ede8;
    }

    &__card-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    &__card-item {
        display: flex;

        & .fa {
            margin-top: 3px;
            margin-right: 6px;
            color: $pai-blue;
        }

        &:nth-child(1) {
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100px;

            margin-bottom: 40px;

            background-image: url("/image/paintball/pricing/price.png");
            background-size: 100% 100%;
            background-position: center top;
            background-repeat: no-repeat;

            font-family: "RobotoB";
            font-size: 1.6em;
            color: #fff;
        }

        &:nth-child(2) {
            display: flex;
            align-items: flex-end;

            height: 50px;

            margin-bottom: 50px;

            font-family: "RobotoB";
            color: $pai-gray;
        }

        &:nth-child(3) {
            justify-content: flex-start;

            width: 100%;
            max-width: 260px;
            line-height: 16px;
            margin-bottom: 10px;

            font-size: 0.9em;
            color: $pai-gray;
        }

        &:nth-child(4) {
            justify-content: flex-start;

            width: 100%;
            max-width: 260px;

            font-size: 0.9em;
            color: $pai-gray;
        }

        &:last-child {
            margin-top: auto;
            width: 100%;
        }
    }

    &__card-item-usd {
        align-self: flex-start;
        margin-right: 6px;
    }

    &__card-item-bold {
        line-height: 50px;
        font-size: 4em;
        color: $brown-dk;
    }

    &__card-link {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 60px;

        font-family: "RobotoB";
        text-transform: uppercase;
        color: $pai-gray;

        background: #ebe4de;

        transition: 0.3s all ease;
        &::before {
            margin-right: 10px;
            content: "\f105";
            font-family: fontawesome;
        }
        &:hover {
            color: #fff;
            background: $pai-blue;
        }
    }
}

// indoor section

.pai-indoor {
    position: relative;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background-image: url("/image/paintball/indoor/01_home_Paintball_3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;

    &::after,
    &::before {
        z-index: 10;
        content: "";
        position: absolute;
        left: 0;

        width: 100%;
        height: 60px;

        background-image: url("/image/paintball/section__bg/06_airsoft_about_02.png");
        background-size: cover;
        background-position: center;
        background-repeat: repeat-x;
    }

    &::after {
        top: -25px;
        transform: rotate(180deg);
    }

    &::before {
        bottom: -25px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        max-width: 1400px;
        height: 100%;

        color: #fff;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        max-width: 400px;
        height: 300px;
    }

    &__title {
        font-family: "RobotoB";
        font-size: 3em;

        &::before {
            content: "[";
            margin-right: 10px;
        }

        &::after {
            content: "]";
            margin-left: 10px;
        }
    }

    &__text {
        text-align: center;
        font-size: 0.9em;
    }

    &__icon-container {
        display: flex;
        justify-content: space-between;

        width: 100%;
    }

    &__icon-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        margin-bottom: 10px;
        &::before {
            font-size: 3em;
        }
    }
}

// product section

.pai-product {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px 0;

    width: 100%;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        max-width: 1200px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__card-wrap {
        display: flex;
        justify-content: space-between;

        width: 100%;
        margin-bottom: 60px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 270px;
        height: 460px;

        border: 1px solid #f3ede8;

        box-shadow: 0 0 20px 0 rgba($pai-gray, 0.5);
        border-radius: 10px;

        background: #fff;
        overflow: hidden;
    }

    &__card-wrap-img {
        position: relative;
        display: flex;
        justify-content: center;

        width: 100%;
        height: 60%;

        &::after {
            display: block;
            content: "";
            position: absolute;
            bottom: 0;

            width: 80%;
            height: 1px;

            background: rgba($pai-gray, 0.5);
        }
    }

    &__card-img {
        width: 100%;
        height: 100%;

        object-fit: contain;
    }

    &__card-text {
        width: 100%;
        padding: 20px 30px;

        font-family: "MondaB";
        text-align: center;
        text-transform: uppercase;
        font-size: 0.9em;
        color: $brown-dk;
    }

    &__card-price {
        font-size: 1.4em;
        font-family: "RobotoB";
        color: $pai-blue;
    }

    &__card-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 40px;

        padding: 0;
        margin-top: auto;

        background: #ebe4de;

        &::after {
            background: $pai-blue;
        }

        & .pai-button__word {
            transition: 0.3s all ease;
            color: $pai-gray;

            &::before {
                margin-right: 10px;
                content: "\f105";
                font-family: fontawesome;
            }
        }

        &:hover .pai-button__word {
            color: #fff;
        }
    }

    &__slider {
        width: 100%;
        height: 500px;

        & .slick-dots li {
            width: 8px;
            height: 8px;

            margin: 0 10px;
        }
        & .slick-dots button {
            width: 8px;
            height: 8px;

            padding: 0;
            margin: 0;

            border: 1px solid $pai-gray;

            &::before {
                display: none;
            }
        }

        & .slick-active button {
            background: $pai-blue;
            border: 1px solid $pai-blue;
        }
    }

    &__slide {
        display: flex !important;
        width: 100%;
        height: 500px;
    }

    &__image-wrap {
        width: 60%;
        height: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    &__article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        width: 40%;
        height: 100%;

        padding: 0 100px;

        background: $brown-dk;
    }

    &__article-title {
        margin-bottom: 30px;
        text-transform: uppercase;
        font-family: "RobotoB";
        font-size: 1.6em;
        color: #fff;
    }

    &__article-text {
        margin-bottom: 30px;
        font-family: "RobotoC";
        color: $pai-gray;
    }

    &__article-link {
        text-transform: uppercase;
        font-family: "RobotoB";
        color: $pai-blue;

        transition: 0.3s all ease;
        &::before {
            content: "\f105";
            margin-right: 6px;
            font-family: fontawesome;
        }

        &:hover {
            color: #fff;
        }
    }
}

// pre footer
.pai-tactical {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    &::after {
        z-index: 10;
        content: "";
        position: absolute;
        left: 0;

        width: 100%;
        height: 60px;

        background-image: url("/image/paintball/section__bg/06_airsoft_about_02.png");
        background-size: cover;
        background-position: center;
        background-repeat: repeat-x;
    }

    &::after {
        top: -25px;
        transform: rotate(180deg);
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        min-height: 500px;

        background: transparent;

        color: #fff;
    }

    &__title {
        font-family: "MondaB";
        text-transform: uppercase;
        font-size: 2em;

        margin-bottom: 20px;
    }

    &__text {
        text-align: center;
        font-family: "MondaB";

        width: 100%;
        max-width: 800px;
    }
}

.pai-footer {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: max-content;

    background: $brown-dk;

    &__book {
        position: relative;
        top: -50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 400px;

        background-image: url("/image/paintball/section__bg/redbg.webp");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
    }

    &__title {
        font-family: "MondaB";
        font-size: 2em;
        color: #fff;

        &::before {
            content: "[";
            margin-right: 10px;

            color: $brown-dk;
        }

        &::after {
            content: "]";
            margin-left: 10px;

            color: $brown-dk;
        }
    }

    &__text {
        margin-bottom: 20px;
        font-family: "MondaB";
        font-size: 0.9em;
        color: #fff;
    }
}

.pai-footer {
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;

        padding: 100px 0;
    }

    &__contact-wrap {
        display: flex;
        justify-content: center;

        margin-bottom: 100px;
    }

    &__contact,
    &__location {
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    &__location {
        align-items: flex-end;
    }

    &__contact-title,
    &__location-title {
        margin-bottom: 20px;
        font-family: "MondaB";
        font-size: 1.2em;
        color: #fff;
    }

    &__contact-text,
    &__location-text {
        font-family: "MondaB";
        font-size: 0.9em;
        color: $pai-gray;
    }

    &__logo {
        margin: 0 50px;
    }

    &__logo-img {
        width: 100%;
        height: 100%;

        object-fit: contain;
    }

    &__nav {
        display: flex;
        justify-content: center;
        width: 100%;

        margin-bottom: 50px;

        border-top: 1px solid rgba($pai-gray, 0.3);
        border-bottom: 1px solid rgba($pai-gray, 0.3);
    }

    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 700px;
        padding: 20px 0;
    }

    &__link {
        font-family: "MondaB";
        text-transform: uppercase;
        font-size: 0.9em;
        color: $pai-gray;

        transition: 0.3s color ease-in-out;
        &:hover {
            color: $pai-blue;
        }
    }

    &__corp {
        align-self: center;
        color: $pai-gray;
    }
}
