.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    
    width: 100%;
    max-width: 1280px;
    height: 80px;
    
    &__social-icon {
        margin-right: 10px;
        &::before {
            font-family: fontawesome;
            color: #fff;

            transition: 0.3s all ease;
        }
    }

    &__social-icon-f {
        &::before {
            content: "\f09a";
        }
    }

    &__social-icon-in {
        &::before {
            content: "\f16d";
        }
    }

    &__social-icon-tw {
        &::before {
            content: "\f099";
        }
    }

    &__mail {
        font-family: "Ow-el";
        color: #fff;
    }
}
