.pl-preload {
    z-index: 9999999999999999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background: $pl-dk-fiol;
    

    &__item {
        display: flex;
        width: 20px;
        height: 20px;

        margin: 0 4px;
        background: #fff;

        &:nth-child(1) {
            animation: 2s trans infinite linear;
        }

        &:nth-child(2) {
            animation: 2s trans2 infinite linear;
            animation-delay: 2s;
        }

        &:nth-child(3) {
            animation: 2s trans5 infinite linear;
            animation-delay: 2.3s;
        }

        &:nth-child(4) {
            animation: 2s trans4 infinite linear;
            animation-delay: 2s;
        }

        &:nth-child(5) {
            animation: 2s trans3 infinite linear;
        }
    }
}

.pl-preload-trasform {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all ease;
}

@keyframes trans {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-50px);
    }
    90% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(-0px);
    }
}

@keyframes trans3 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(50px);
    }
    90% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes trans2 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes trans4 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-4px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes trans5 {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(4px);
    }
    40% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(-4px);
    }
    100% {
        transform: translateX(0px);
    }
}

.pl-body {
    background-color: $pl-lg-fiol;

    font-family: "Lato";
}

.pl-body__transform {
    overflow: hidden;
}

// общие стили

.pl-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1397px;
}

.pl-title-h2 {
    color: #fff;
    font-size: 3.4em;
}

.larg-button {
    z-index: 1;
    position: relative;

    width: max-content;
    height: max-content;

    padding: 15px 50px;
    font-size: 1.1em;

    color: #fff;

    &::before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        content: "";

        width: 100%;
        height: 100%;

        border: 2px solid #fff;

        transform: skew(-7deg);
        transition: 0.3s all ease;
    }

    &:hover::before {
        background: $pl-red;
    }
}

.small-button {
    z-index: 1;
    position: relative;
    padding: 10px 30px;

    color: #fff;

    &::before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        content: "";

        width: 100%;
        height: 100%;

        border: 2px solid #fff;

        transform: skew(-7deg);
        transition: 0.3s all ease;
    }

    &:hover::before {
        background: $pl-red;
    }
}

// общие стили паралакс контейнера
.pl-parallax-container {
    min-height: 400px;
    background: transparent;
}

.pl-over-parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(#160962, 0.5);
}

// общие стили всех секций
.pl-section {
    position: relative;
    width: 100%;
}

// стили хедера
.pl-header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 80px;

    background-color: rgba($pl-dk-fiol, 0.3);

    transition: 0.3s height ease, 0.4s background-color ease;

    &__inner {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1120px;
    }
    &__logo {
        z-index: 99999999999;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 160px;

        margin-right: 40px;

        transition: 0.3s all ease;
    }

    &__logo-image {
        display: block;
        width: 100%;
    }
}

.pl-header {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    &__list {
        display: flex;
        height: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 30px;

        height: 100%;
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100%;
        color: #fff;
    }

    &__link-name {
        margin-bottom: 2px;

        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 1px;

        transition: 0.3s all ease;
        &:after {
            content: "\f0d7";
            margin-left: 4px;
            font-size: 0.8em;
            font-family: fontawesome;
        }
    }

    &__link-sub-name {
        color: rgba(#fff, 0.4);
        font-size: 0.7em;

        transition: 0.3s all ease;
    }

    &__link:hover &__link-sub-name {
        color: rgba(#fff, 0.8);
    }

    &__btn {
        z-index: 99999999;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 30px;
        height: 30px;

        outline: none;
        border: none;
        background-color: transparent;

        cursor: pointer;
    }

    &__btn-line {
        width: 100%;
        height: 0.1rem;

        background-color: #fff;

        transition: 0.3s all ease;
    }

    &__btn-transform {
        .pl-header__btn-line {
            &:nth-child(1) {
                transform: rotate(45deg) translate(10px, 10px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(10px, -10px);
            }
        }
    }
}

.pl-header__nav-transform {
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background-color: $pl-dk-fiol;
}

.pl-header {
    &__drop-list {
        position: absolute;
        top: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-wrap: wrap;
        width: 300px;

        padding: 10px;
        background-color: rgba($pl-dk-fiol, 0.8);

        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;

        transition: 0.3s all ease;

        &::before {
            display: block;
            content: "";
            position: absolute;
            top: -16px;
            left: 20px;

            border: 8px solid transparent;
            border-bottom: 8px solid rgba($pl-dk-fiol, 0.8);
        }

        &::after {
            display: block;
            content: "";
            position: absolute;
            top: -16px;
            left: 0;

            width: 100%;
            height: 20px;
        }
    }

    &__drop-item {
        margin: 10px;
        width: 100px;
    }

    &__drop-link {
        text-transform: uppercase;
        font-size: 0.8em;
        color: #fff;

        &::after {
            display: block;
            content: "";
            width: 100%;
            height: 0.1rem;

            background-color: #fff;

            transform: translateY(4px);
            opacity: 0;
            visibility: hidden;

            transition: 0.2s all ease;
        }

        &:hover::after {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }

    &__item:hover &__drop-list {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.pl-header {
    &__user-list {
        display: flex;
        height: 100%;
    }

    &__user-item {
        position: relative;
        display: flex;
        align-items: center;

        margin-left: 30px;

        height: 100%;
    }

    &__user-link {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100%;
        color: #fff;
    }

    &__user-link-search {
        &:before {
            content: "\f002";
            font-family: fontawesome;
            color: #fff;
        }
    }

    &__user-link-shop {
        &:before {
            content: "\f07a";
            font-family: fontawesome;
            color: #fff;
        }
    }

    &__user-link-man {
        cursor: pointer;
        &:before {
            content: "\f007";
            font-family: fontawesome;
            color: #fff;
        }
    }

    &__user-link-name {
        margin-bottom: 2px;

        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 1px;

        transition: 0.3s all ease;
        &:after {
            content: "\f0d7";
            margin-left: 4px;
            font-size: 0.8em;
            font-family: fontawesome;
        }
    }

    &__user-link-sub-name {
        color: rgba(#fff, 0.4);
        font-size: 0.7em;

        transition: 0.3s all ease;
    }

    &__user-link:hover &__user-link-sub-name {
        color: rgba(#fff, 0.8);
    }

    &__user-item &__drop-list {
        flex-direction: column;
        width: max-content;
    }

    &__user-item:hover &__drop-list {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    &__user-drop-wrap {
        right: 0;

        &::before {
            left: auto;
            right: 20px;
        }
    }

    &__drop-form {
        display: flex;
        flex-direction: column;

        width: 300px;
    }

    &__drop-input-wrap {
        display: flex;
        flex-direction: column;
    }

    &__drop-label {
        color: #fff;
        margin-bottom: 10px;
    }

    &__drop-input {
        outline: 0;
        border: none;

        height: 40px;

        margin-bottom: 20px;
        padding: 0 10px;

        font-family: "Lato-B";
        color: #fff;

        background-color: rgba($pl-lg-fiol, 0.8);
    }

    &__drop-form-btn {
        align-self: start;

        background-color: transparent;
        outline: none;
        border: none;

        padding: 4px 14px;

        font-size: 0.9em;
        cursor: pointer;
    }
}

// стили хедера при трансформе
.pl-header--transform {
    height: 50px;
    background-color: rgba($pl-dk-fiol, 1);

    & .pl-header__logo {
        width: 110px;
    }

    & .pl-header__drop-list {
        top: 60px;
    }

    & .pl-header__link-sub-name,
    & .pl-header__user-link-sub-name {
        opacity: 0;
        visibility: hidden;
    }

    & .pl-header__link-name,
    & .pl-header__user-link-name {
        transform: translateY(7px);
    }
}

// секция интро
.pl-intro {
    width: 100%;
    height: 780px;

    &__text-container {
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 0 140px;

        color: #fff;
    }

    &__title {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-bottom: 30px;
        font-size: 3.1em;

        b {
            font-weight: normal;
        }
    }

    &__under-title {
        margin-bottom: 30px;
        font-size: 1em;
        font-style: italic;
    }

    &__parallax {
        width: 100%;
        height: 100%;
    }

    &__slider-wrap {
        z-index: 5;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100%;

        &::before,
        &::after {
            z-index: 10;
            content: "";
            position: absolute;
            top: 0;

            width: 80px;
            height: 100%;
        }

        &::before {
            background: linear-gradient(to right, $pl-dk-fiol, transparent);
            left: 0;
        }

        &::after {
            background: linear-gradient(to left, $pl-dk-fiol, transparent);
            right: 0;
        }
    }

    &__slider-image {
        position: relative;

        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 315px;
        height: 220px;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        outline: none;
        transform: skew(-7deg);
        overflow: hidden;

        background-color: #160962;

        &::before {
            z-index: -1;
            display: flex;

            content: "";
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: rgba(#160962, 0.5);

            transition: 0.3s all ease;
        }

        &:hover::before {
            background: rgba(#160962, 0.4);
        }
    }

    &__image-one {
        background-image: url(../image/play/short/death_army.jpg);
    }

    &__image-two {
        background-image: url(../image/play/short/dragon_knight.jpg);
    }

    &__image-three {
        background-image: url(../image/play/short/licantrope.jpg);
    }

    &__image-four {
        background-image: url(../image/play/short/lich.jpg);
    }

    &__image-ofive {
        background-image: url(../image/play/short/lich_warrior.jpg);
    }

    &__image-six {
        background-image: url(../image/play/short/magic.jpg);
    }

    &__name {
        font-size: 1.1em;
        color: #fff;
        font-family: "Lato-B";
        text-align: center;
        margin-bottom: 20px;
        transform: skew(7deg);
    }

    &__stars-wrap {
        display: flex;

        transform: skew(7deg);
    }

    &__star-icon {
        margin: 0 2px;
        &::before {
            content: "\f005";
            font-family: fontawesome;
            font-size: 1em;
            color: #fff;
        }

        &:last-child::before {
            content: "\f123";
            font-family: fontawesome;
            font-size: 1em;
            color: #fff;
        }
    }
}

//  статичная секция со слайдерами
.pl-special {
    width: 100%;
    height: 100%;

    background-color: $pl-dk-fiol;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 180px;

        padding: 0 140px;
    }
    
    &__slider-wrap {
        width: 100%;

        &::before,
        &::after {
            z-index: 10;
            content: "";
            position: absolute;
            top: 0;

            width: 80px;
            height: 100%;
        }

        &::before {
            background: linear-gradient(to right, $pl-dk-fiol, transparent);
            left: 0;
        }

        &::after {
            background: linear-gradient(to left, $pl-dk-fiol, transparent);
            right: 0;
        }
    }

    &__slide {
        position: relative;

        display: flex !important;
        flex-direction: column;
        align-items: center;

        height: 400px;

        outline: none;
        transform: skew(-7deg);
        overflow: hidden;
    }

    &__image {
        position: relative;
        width: 100%;
        height: 240px;

        margin-bottom: 14px;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        background-color: #160962;

        &::before {
            z-index: 1;
            display: flex;

            content: "";
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: rgba(#160962, 0.5);

            transition: 0.3s all ease;
        }

        &:hover::before {
            background: rgba(#160962, 0.4);
        }
    }

    &__image-one {
        background-image: url(../image/play/short/dragon_army.jpg);
    }

    &__image-two {
        background-image: url(../image/play/short/twohead_dragon.jpg);
    }

    &__image-three {
        background-image: url(../image/play/short/warrior_weapon.jpg);
    }

    &__image-four {
        background-image: url(../image/play/short/lich.jpg);
    }

    &__image-five {
        background-image: url(../image/play/short/lich_warrior.jpg);
    }

    &__image-six {
        background-image: url(../image/play/short/panter.jpg);
    }

    &__num {
        z-index: 1;
        position: absolute;
        top: 0;
        left: -3px;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 6px 14px;
        color: #fff;
        background-color: $pl-red;

        opacity: 0;
        transform: skew(7deg);
        transition: 0.3s all ease;
    }

    &__image:hover &__num {
        opacity: 1;
    }

    &__name {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;

        margin-bottom: 14px;

        color: #fff;
        font-size: 1.2em;

        transform: skew(7deg);

        &::after {
            display: flex;
            content: "";

            width: 60%;
            height: 1px;

            margin-top: 14px;

            background-color: $pl-lg-fiol;
        }
    }

    &__price-wrap {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    &__stars-wrap {
        display: flex;

        transform: skew(7deg);
    }

    &__star-icon {
        margin: 0 2px;
        &::before {
            content: "\f005";
            font-family: fontawesome;
            font-size: 1em;
            color: #fff;
        }

        &:last-child::before {
            content: "\f123";
            font-family: fontawesome;
            font-size: 1em;
            color: #fff;
        }
    }

    &__price {
        display: flex;
        justify-content: flex-start;

        transform: skew(7deg);
    }

    &__price-main {
        color: #fff;

        margin-right: 4px;
    }

    &__price-second {
        font-size: 0.8em;
        text-decoration: line-through;
        color: $ca-gray;

        transform: translateY(-6px);
    }
}

// паралкс секция с отсчётом
.pl-time {
    width: 100%;

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        font-size: 3.1em;
        text-align: center;

        color: #fff;

        & b {
            font-weight: normal;
        }
    }

    &__parallax {
        width: 100%;
        height: 500px;
    }
}

// статичная секция с новостями
.pl-section-news {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 50px 140px;

    background-color: $pl-dk-fiol;

    color: #fff;

    &__title {
        margin-bottom: 30px;
    }

    &__articles-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    &__article {
        display: flex;

        margin-bottom: 60px;
    }

    &__article-image {
        display: flex;
        flex-shrink: 0;
        width: 320px;
        height: 240px;

        margin-right: 60px;
        background-image: url(../image/play/short/dragon_knight.jpg);
        background-size: cover;
        background-position: center;

        transform: skew(-7deg);

        &::before {
            z-index: 1;
            display: flex;

            content: "";
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: rgba(#160962, 0.5);

            transition: 0.3s all ease;
        }

        &:hover::before {
            background: rgba(#160962, 0.4);
        }
    }

    &__text-wrap {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    &__article-title {
        font-size: 2em;
    }

    &__article-date-wrap {
        display: flex;
        justify-content: space-between;

        width: 100%;
        margin-bottom: 10px;
    }

    &__article-hashtag-link {
        margin-left: 10px;
        color: rgba(#fff, 0.4);
        font-size: 0.8em;
        transition: 0.3s all ease;

        &:nth-child(1) {
            margin-left: 0;
            &::before {
                margin-right: 4px;
                content: "\f02c";
                font-family: fontawesome;
                color: rgba(#fff, 0.4);
            }
        }

        &:hover {
            color: $pl-red;
        }

        &:hover::before {
            color: rgba(#fff, 0.4);
        }
    }

    &__article-date {
        color: rgba(#fff, 0.4);
        font-size: 0.8em;

        &::before {
            margin-right: 4px;
            content: "\f073";
            font-family: fontawesome;
        }
    }

    &__article-text {
        font-size: 1em;
        margin-bottom: 30px;
    }

    &__article-link {
        align-self: flex-start;
    }
}

// паралакс секция с партнёрами
.pl-partners {
    width: 100%;

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-size: 3.1em;
        color: #fff;

        margin-bottom: 30px;
    }

    &__parallax {
        width: 100%;
        height: 400px;
    }
}

.pl-partners {
    &__slider {
        width: 100%;
    }

    &__image {
        width: 200px;
        height: 130px;

        margin: 0 20px;
        outline: none;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__image-one {
        background-image: url(../image/play/logo/partner-logo-1.png);
    }

    &__image-two {
        background-image: url(../image/play/logo/partner-logo-2.png);
    }

    &__image-three {
        background-image: url(../image/play/logo/partner-logo-3.png);
    }

    &__image-four {
        background-image: url(../image/play/logo/partner-logo-4.png);
    }

    &__image-five {
        background-image: url(../image/play/logo/partner-logo-5.png);
    }

    &__image-six {
        background-image: url(../image/play/logo/partner-logo-6.png);
    }
}

// статичная секция с покупками
.pl-section-buy {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    padding: 60px 140px;

    background-color: $pl-dk-fiol;

    &__title {
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        width: 100%;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 260px;
        height: 180px;

        margin: 0 10px;
        color: #fff;

        transform: skew(-7deg);

        background-color: $pl-lg-fiol;
        transition: 0.3s all ease;

        &:hover {
            background-color: $pl-lg-fiol + 10%;
        }
    }

    &__icon {
        font-size: 3em;
        margin-bottom: 20px;

        transform: skew(7deg);
    }

    &__icon-visa {
        &::after {
            content: "\f1f0";
            font-family: fontawesome;
        }
    }

    &__icon-game {
        &::after {
            content: "\f11b";
            font-family: fontawesome;
        }
    }

    &__icon-dollar {
        &::after {
            content: "\f0d6";
            font-family: fontawesome;
        }
    }

    &__icon-com {
        &::after {
            content: "\f0c0";
            font-family: fontawesome;
        }
    }

    &__name {
        font-size: 1.4em;
        margin-bottom: 10px;

        transform: skew(7deg);
    }

    &__desc {
        font-size: 0.8em;

        transform: skew(7deg);
    }
}

// футер и бг футера
.pl-footer-bg {
    position: relative;
    width: 100%;

    height: 600px;

    &__text-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        background: rgba(8, 3, 37, 0.5);

        color: #fff;
    }

    &__title {
        font-size: 1.5em;
        margin-bottom: 30px;
    }

    &__link-wrap {
        display: flex;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
        margin: 0 15px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 100px;

        background: rgba($pl-dk-fiol, 0.5);

        transform: skew(-7deg);

        margin-bottom: 10px;
    }

    &__icon-disc {
        width: 50px;
        transform: skew(7deg);
    }

    &__icon-twic {
        width: 50px;
        transform: skew(7deg);
    }

    &__icon-you {
        width: 50px;
        transform: skew(7deg);
    }

    &__icon-twit {
        width: 50px;
        transform: skew(7deg);
    }

    &__name {
        width: 140px;
        text-align: center;
    }

    &__parallax {
        width: 100%;
        height: 500px;
    }
}

.pl-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100px;

    background-color: rgba($pl-dk-fiol, 0.5);

    &__cop {
        color: #fff;
        font-size: 1em;
    }
}
